.content-wrapper {
    display: flex;
}

main {
    flex: 3;
    padding: 1em;
}

aside {
    flex: 1;
    padding: 1em;
    background-color: #f7f7f7;
    border-left: 1px solid #ddd;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 0.5em;
}

aside ul li a {
    text-decoration: none;
    color: #007acc;
}

aside ul li a:hover {
    text-decoration: underline;
}
